Repository wsvaio/mylint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write--parser json, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.vue": ["eslint --fix", "stylelint --fix"],
  "*.{scss,less,css,html}": ["stylelint --fix"],
  "*.json": ["prettier --write--parser json"],
  "*.md": ["prettier --write"]
}

docs: 文档更新
  README.md
  packages/commitlint-config/README.md
  packages/eslint-config/README.md
  packages/eslint-config/index.d.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/userConfigs.js
  packages/stylelint-config/README.md
Due: eslint --fix, prettier --write--parser json, prettier --write

style: 格式化
  .prettierrc.json
Due: prettier --write--parser json

style: 格式化
  packages/commitlint-config/README.md
  packages/eslint-config/README.md
  packages/stylelint-config/README.md
Due: prettier --write

release: eslint@1.0.1 stylelint@0.0.9 commitlint@0.0.9
  packages/commitlint-config/package.json
  packages/stylelint-config/package.json
Due: prettier --write--parser json

fix: eslint-config忘记带index.d.ts了
  packages/eslint-config/package.json
Due: prettier --write--parser json

fix: eslint-config 给userConfig加上类型
  eslint.config.js
  packages/eslint-config/package.json
  packages/eslint-config/userConfigs.d.ts
Due: eslint --fix, prettier --write--parser json

fix(eslint-config): 1.0.3
  eslint.config.js
  packages/eslint-config/package.json
Due: prettier --write--parser json
